<div class="container__navBar">
  <div class="logo">
    <img src="../../../assets/sociotrack-logo.svg" alt="logo">
  </div>
  <div class="user">
    <div class="user__avatar">
      <img src="../../../assets/Avatar.png" alt="avatar">
    </div>
    <div class="user__description">
      <div class="user__name">
        <p>Abhisek Das</p>
      </div>
      <div class="user__followers">
        <p>10,968 Followers</p>
      </div>
    </div>
  </div>
  <div class="container-navigation">
    <ul class="container-navigation__ul">
      <li (click)="isActive(1)" [ngClass]="{active__navigation:1 === activeItem}" class="navigation-li">
        <a href="#">
          <p>Dashboard</p>
        </a>
      </li>
      <li (click)="isActive(2)" [ngClass]="{active__navigation:2 === activeItem}"  class="navigation-li">
        <a href="#">
          <p>Social Feed</p>
        </a>
      </li>
      <li (click)="isActive(3)" [ngClass]="{active__navigation:3 === activeItem}"   class="navigation-li">
        <a href="#">
          <p>Invite Friends</p>
        </a>
      </li>
      <li (click)="isActive(4)" [ngClass]="{active__navigation:4 === activeItem}"   class="navigation-li">
        <a href="#">
          <p>Settings</p>
        </a>
      </li>
      <li (click)="isActive(5)" [ngClass]="{active__navigation:5 === activeItem}"   class="navigation-li">
        <a href="#">
          <p>Log out</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="navBar__footer">
    <div class="navBar__footer-container">
      <div class="navBar_line"></div>
      <ul class="navBar__footer_ul">
        <li class="navBar__footer_about">
          <a href="#">About</a>
        </li>
        <li class="navBar__footer_terms">
          <a href="#">Terms</a>
        </li>
        <li class="navBar__footer_privacy">
          <a href="#">Privacy</a>
        </li>
        <li class="navBar__footer_help">
          <a href="#">Help</a>
        </li>
        <li class="navBar__footer_report">
          <a href="#">Report</a>
        </li>
      </ul>
    </div>
  </div>
</div>
